annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
coverage
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
lxml
packaging
playwright
pluggy
pydantic
pydantic_core
pyee
pytest
pytest-cov
pytest-mock
python-dotenv
requests
sniffio
soupsieve
starlette
typing_extensions
urllib3
uvicorn
pydantic-settings